<div class="panel-body">
        <div class="row">
            <div class="col-lg-6 sys-shadow-panel-2">
            <form class="form-horizontal form-material search_assigned_permissions" method="get" action="#">
            <div class="form-group  has-feedback has-feedback-left">
                <input type="hidden" value="{{group.id}}" hidden="true" name="group">
                <input type="text" name="ap" placeholder="Search..." class="form-control" autocomplete="off">
                <div class="form-control-feedback">
                    <i class="icon-search4 text-size-base text-muted"></i>
                </div>
            </div>
        </form>
            <div class="assigned-permission-div col-lg-12 mb-5">
                {% include "common/assigned_group_permissions.html" %}
            </div>
       </div>

       <div class="col-lg-6 sys-shadow-panel-2">
         <form class="form-horizontal form-material search_not_assigned_permissions ml-5" method="get" action="#">
         <div class="form-group has-feedback has-feedback-left">
            <input type="hidden" value="{{group.id}}" hidden="true" name="group">
            <input type="text" name="search" placeholder="Search..." class="form-control" autocomplete="off">
                <div class="form-control-feedback">
                    <i class="icon-search4 text-size-base text-muted"></i>
                </div>
         </div>
     </form>
             <div class="panel-body not-assigned-permission-div col-lg-12">
            {% include "common/not_assigned_group_permissions.html" %}
            </div>  
       </div>
    </div>
</div>
</div>