<div class="panel  b-r-10 sys-panel-shadow ">
    <div class="panel-heading bg-blue">
        <h6 class="panel-title " style="font-weight: 500">
            <i class=" icon-users2"></i>
            ALL CUSTOMERS
            <span class="badge badge-flat border-white text-white pull-right customers_table_bagde">0</span>
        </h6>
    </div>
    <table class="table datatable-basic customers_table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Balance </th>
                <th> Comments</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>