{% extends 'base.html'%}

{% block content %}
<div class="col-sm-12">
    <div class="panel b-r-6 sys-panel-shadow">
        <div class="panel-heading bg-blue">
            <h6 class="panel-title text-center" style="font-weight: 500">
                <i class="icon-checkbox-checked2"></i>
                 Individual Incentive Charts
            </h6>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td> Diamonds</td>
                            <td>200</td>
                            <td>300</td>
                            <td>400</td>
                            <td>2000</td>
                            <td><bold>4000</bold></td>
                            <!-- <td>300</td> -->
                            

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Falcon</td>
                            <td>1200</td>
                            <td>1500</td>
                            <td>1600</td>
                            <td>1900</td>
                            <td><bold>5000</bold></td>

                            <!-- <td>2000</td> -->
                            
                           
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Toothpics</td>
                            <td>2000</td>
                            <td>23000</td>
                            <td>200</td>
                            <td>3040</td>
                            <td><bold>9000</bold></td>
                        </tr>
                        
                    </tbody>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>300</th>
                            <th>400</th>
                            <th>302</th>
                            <th>4039</th>
                            <th>1000</th>        
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}