{% load widget_tweaks %}
<form action="{% url 'supplier_payment' %}" class="supplier-payment-form" method="POST">
    {% csrf_token %}
    <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-4 control-label text-semibold">
                        Date:
                    </label>
                    <label class="col-lg-10 col-sm-8 control-label text-semibold">
                        <input type="text" class="form-control pickadate sys-input "
                            style="width: 85%; display:inline-block;" placeholder="Pick a date&hellip;" name="payment_date">
                    </label>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label text-semibold mb-10">Select
                    Supplier:
                    {% if supplier_payment_form.supplier.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}
                </label>
                <div class="col-lg-8 col-sm-6 mb-10">
                    {% render_field supplier_payment_form.supplier class="select" %}
                </div>
                <span class="text-danger">{{ supplier_payment_form.supplier.errors }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-4 control-label text-semibold">
                    Amount:
                    {% if supplier_payment_form.amount.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}

                </label>
                <div class="col-sm-8">
                    {% render_field supplier_payment_form.amount class="form-control sys-input" min="1" placeholder="Enter Amount" %}
                </div>
                <span class="text-danger">{{ supplier_payment_form.amount.errors }}</span>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="col-lg-4 col-sm-4 control-label text-semibold mb-10">Payment Method:
                        {% if supplier_payment_form.payment_method.field.required %}
                        <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    <div class="col-lg-8 col-sm-6 mb-10">
                        {% render_field supplier_payment_form.payment_method class="select" %}
                    </div>
                    <span class="text-danger">{{ supplier_payment_form.payment_method.errors }}</span>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-2 control-label text-semibold">
                    Description:
                    {% if supplier_payment_form.description.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}

                </label>
                <div class="col-sm-10">
                    {% render_field supplier_payment_form.description placeholder="Write any comment" class="form-control" rows="5" cols="5" %}
                </div>
                <span class="text-danger">{{ supplier_payment_form.description.errors }}</span>
            </div>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-sm btn-success btn-rounded btn-labeled">
                <b>
                    <i class="icon-check"></i>
                </b>
                Save</button>
        </div>
    </div>
</form>